<div class="container-contactanos">
  <div style="text-align:center">
    <h2>Contactanos</h2>
    <!-- <p>Swing by for a cup of coffee, or leave us a message:</p> -->
  </div>
  <div class="row">
    <div class="column">
      <img src="assets/imagenes/contact_us.svg" style="width:100%">
    </div>
    <div class="column">
      <form [formGroup]="frmMensaje">
        <div class="p-field">
          <label for="nombreContactanos">Nombre</label>
          <input formControlName="nombre" id="nombreContactanos" type="text" pInputText>
          <small *ngIf="frmMensaje.get('nombre')?.hasError('required') && frmMensaje.get('nombre')?.touched" class="p-error">Campo requerido</small>
        </div>
        <div class="p-field">
          <label for="correContactanos">Correo</label>
          <input formControlName="correo"  id="correContactanos" type="text" pInputText>
          <small *ngIf="frmMensaje.get('correo')?.hasError('required') && frmMensaje.get('correo')?.touched" class="p-error">Campo requerido</small>
          <small *ngIf="frmMensaje.get('correo')?.invalid && frmMensaje.get('corero')?.touched" class="p-error">Debe ser un correo valido</small>
        </div>
        <div class="p-field">
          <label for="mensajeContactanos">Mensaje</label>
          <textarea formControlName="mensaje"  id="mensajeContactanos" [rows]="5"  [cols]="30" pInputTextarea [autoResize]="false"></textarea>
          <small *ngIf="frmMensaje.get('mensaje')?.hasError('required') && frmMensaje.get('mensaje')?.touched" class="p-error">Campo requerido</small>
        </div>

      <button [disabled]="cargando" (click)="guardarMensaje()" style="width: 100%;" pButton pRipple type="button" label="Enviar" class="p-button-rounded p-button-secondary"></button>


      </form>
      <app-cargando *ngIf="cargando" ></app-cargando>
    </div>
  </div>
</div>
