<footer class="footer">
  <div class="l-footer">
    <h1 style="display: flex; align-items: center; justify-content: center;" >
      <img src="assets/imagenes/about_me.svg" width="50%" alt="acerca de">
      <p>
        Llevando nuestros productos hasta usted.
      </p>
    </h1>
  </div>

  <div class="b-footer">
    <p> Todos los derechos reservados @Angel Fabricio González  {{anio}} </p>
  </div>
</footer>
<p-scrollTop target="parent" styleClass="custom-scrolltop" [threshold]="100" icon="pi pi-arrow-up"></p-scrollTop>
